.env
/etc/
# Ignorar el entorno virtual
venv/
tfhub_cache/
app/models/
setup_status.conf

__pycache__
*.pyc
*.pyo
*.pyd
.env

.DS_Store
setup_server.sh
update_git.sh
shell.py
app/ml/training_data/
celerybeat-schedule
scripts/

# Archivos de respaldo
*_old.py


# Archivos estáticos generados
staticfiles/
nltk_data/
cache/
skills_data/
*.json
*.csv
#media/
#*.png
# Ignorar archivos temporales
~*


#omitir las bases de datos
db.sqlite3
db1.sqlite3
db2.sqlite3

no_borrar.json

# Directorios no rastreados
.chainlit/
logs/
app/migrations/

# Archivos temporales
.tmp.driveupload/
*.tmp
*.temp
*.swp
*.swo

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/
env/
.env

# Archivos de IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Archivos de base de datos
*.sqlite3
*.db

# Archivos de logs
*.log
logs/

# Archivos de sistema
.DS_Store
Thumbs.db
