.env
/etc/
# Ignorar el entorno virtual
venv/
*.pyc
__pycache__/
.DS_Store
setup_server.sh
update_git.sh
shell.py

# Archivos de respaldo
*_old.py


# Archivos estáticos generados
staticfiles/
media/
/home/pablo/nltk_data/
cache/
/home/pablo/skills_data/
token_dist.json
skill_db_relax_20.json
*.json

# Ignorar archivos temporales
~*


#omitir las bases de datos
db.sqlite3
db1.sqlite3
db2.sqlite3

no_borrar.json

# Directorios no rastreados
.chainlit/
logs/
app/migrations/
