# Ignorar el entorno virtual
venv/
*.pyc
__pycache__/
.DS_Store
# Archivos de respaldo
*_old.py
*.json

# Archivos estáticos generados
staticfiles/
media/
# Ignorar archivos temporales
~*


#omitir las bases de datos
db.sqlite3
db1.sqlite3
db2.sqlite3

no_borrar.json

# Directorios no rastreados
.chainlit/
logs/
app/migrations/
app/milkyleak.py