absl-py
aiohappyeyeballs
aiohttp
aioimaplib
aiosignal
amqp
annotated-types
anyio
asgiref
asttokens
astunparse
attrs
autopep8
babel
backoff
beautifulsoup4
billiard
blis
Brotli
cachetools
catalogue
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpathlib
confection
contourpy
courlan
cron-descriptor
cryptography
cssselect2
cycler
cymem
datasets
dateparser
decorator
deep-translator
defusedxml
dill
diskcache
distro
Django
django-celery-beat
django-cors-headers
django-debug-toolbar
django-environ
django-filter
django-grappelli
django-redis
django-silk
django-timezone-field
django_celery_results
djangorestframework
djangorestframework_simplejwt
dnspython
drf-yasg
dropbox
email_validator
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl#sha256
es_core_news_md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.8.0/es_core_news_md-3.8.0-py3-none-any.whl#sha256
executing
filelock
flatbuffers
fonttools
forex-python
frozenlist
fsspec
futures
gast
geographiclib
geopy
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
gprof2dot
greenlet
grpcio
grpcio-status
gunicorn
h11
h2
h5py
hpack
hstspreload
htmldate
httpcore
httplib2
httpx
huggingface-hub
hyperframe
idna
IMAPClient
inflection
ipython
ipython_pygments_lexers
itsdangerous
jedi
jellyfish
Jinja2
jiter
joblib
jusText
keras
kiwisolver
kombu
langcodes
langdetect
language_data
libclang
lxml
lxml_html_clean
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml_dtypes
multidict
multiprocess
murmurhash
namex
nltk
numpy
oauthlib
openai
opt_einsum
optree
packaging
pandas
parso
paypalrestsdk
pdfminer.six
pdfplumber
pexpect
pillow
playwright
ply
preshed
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2-binary
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic_core
pydyf
pyee
Pygments
PyJWT
pyOpenSSL
pyparsing
pypdf
pypdfium2
pyphen
python-crontab
python-dateutil
python-docx
pytz
PyYAML
redis
regex
reportlab
requests
requests-oauthlib
rfc3986
rich
rsa
sacremoses
safetensors
scikit-learn
scipy
sentencepiece
sentry-sdk
setuptools
shellingham
simplejson
six
skillNer
smart-open
sniffio
sounddevice
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stack-data
stone
stopwords
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
tensorflow-text
termcolor
textblob
tf_keras
thinc
threadpoolctl
tinycss2
tinyhtml5
tld
tokenizers
tqdm
trafilatura
traitlets
transformers
tweepy
typer
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
vine
wasabi
wcwidth
weasel
weasyprint
webencodings
Werkzeug
wheel
whitenoise
wrapt
xxhash
yarl
zopfli