# 🛠️ Django y Frameworks REST
django
djangorestframework
django-celery-beat
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-grappelli
django-nested-admin
django-redis
django-requests
django-timezone-field

# 🔹 Celery y Tareas Asíncronas
celery
billiard
kombu
vine

# 🧠 NLP y Chatbot
openai
spacy
nltk
fastapi
scikit-learn
tensorflow
shap

# 📩 Email y Scraping
imapclient
beautifulsoup4
requests
scrapy
selenium
lxml
email-validator
weasyprint

# 🔎 Manejo de Datos
pandas
numpy
psycopg2-binary
sqlparse
pydantic
python-dotenv
python-dateutil

# 🌎 APIs y Conectores
httpx
aiohttp
redis
boto3
botocore
dropbox
tweepy

# 📄 Generación de Documentos
fpdf2
pypdf
reportlab

# 🛠️ Herramientas y Utilidades
gunicorn
uvicorn
pillow
cryptography
pyOpenSSL
Unidecode
pytz
tqdm
rich
pytest
paypalrestsdk
sentry-sdk
environ
forex-python

matplotlib
drf-yasg
django-environ
itsdangerous
PyPDF2
python-docx 
weasyprint 
langdetect
geopy
prometheus_client
tenacity